{% extends 'base.html.twig' %}
{% block content_center %}
    <h1>sur la page de contact</h1>
    <p><label for="email">Votre email :</label><br><input type="contact[email]" id="email"></p>
    <p><label for="contact-textarea">Votre message :</label><br><textarea name="contact[textarea]" id="contact-textarea" cols="30" rows="10"></textarea></p>

{% endblock %}