{% extends 'admin.base.html.twig' %}

{% block content_center %}
    <h1>Liste des templates</h1>
    <div class="list">
        <div></div>
    </div>
    <table>
        <tr>
            <th></th>
            <th></th>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}